/dts-v1/;

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&vic>;
    model = "Cavium Celestial CNC1800L";
    compatible = "cavium,cnc1800l";

    chosen {
		stdout-path = "/uart@801f1000:115200";
	};


	memory {
		device_type = "memory";
		reg = <0x00000000 0x088fffff>;
	};

	cpus {
		#address-cells = <0>;
		#size-cells = <0>;

		cpu {
			compatible = "arm,arm1176jzf";
			device_type = "cpu";
            // clocks = <&timer0>;
		};
	};

    clocks{
        timclk: timclk{
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <94500000>;
        };
        pclk: pclk{
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <47250000>;
        };
    };

    vic: interrupt-controller@10130000 {
		compatible = "snps,dw-apb-ictl";
		reg = <0x80140000 0x1000>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	timer0: timer@801e2000 {
		compatible = "snps,dw-apb-timer";
		interrupts = <10>;
		reg = <0x801e2000 0x100>;
        clocks = <&timclk>, <&pclk>;
        clock-names = "timer", "pclk";
        // clock-frequency = <94500000>;
        // #clock-cells = <1>;
	};

    
	watchdog0: wd@801e1000 {
		compatible = "snps,dw-wdt";
		reg = <0x801e1000 0x100>;
		interrupts = <0>;
		clocks = <&pclk>;
		// resets = <&rst WDT0_RESET>;
	};


	uart0: uart@801f1000 {
		compatible = "ns8250";
		reg = <0x801f1000 0x100>;
		clock-frequency = <47250000>;
		interrupts = <12>;
		reg-shift = <2>;
	};
};